<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="QueueConfigurationSection" type="NRabbitBus.Framework.Configuration.QueueConfigurationSection, NRabbitBus.Framework"/>
		<section name="ExchangesConfigurationSection" type="NRabbitBus.Framework.Configuration.ExchangeConfigurationSection, NRabbitBus.Framework"/>
		<section name="RoutingConfigurationSection" type="NRabbitBus.Framework.Configuration.RoutingConfigurationSection, NRabbitBus.Framework"/>
		<section name="MessageOrderConfigurationSection" type="NRabbitBus.Framework.Configuration.MessageOrderConfigurationSection, NRabbitBus.Framework"/>
		<section name="RabbitConfigurationSection" type="NRabbitBus.Framework.Configuration.RabbitConfigurationSection, NRabbitBus.Framework"/>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	<RabbitConfigurationSection
		hostname="localhost"
		port="5672"
		username="guest"
		password="guest"
		/>
		
	<QueueConfigurationSection>
		<Queues>
			<Queue name="TestQueue1" ackRequired="false" durable="false" maxThreads="12" isRcp="false"/>
		</Queues>
	</QueueConfigurationSection>

	<ExchangesConfigurationSection>
		<Exchanges>
			<Exchange name="ex1" type="direct" durable="false"></Exchange>
			<Exchange name="ex2" type="fanout" durable="true"></Exchange>
		</Exchanges>
	</ExchangesConfigurationSection>

	<RoutingConfigurationSection>
		<Routes>
			<Route queue="TestQueue1" exchange="ex1" routingKey="a1b1"/>
			<Route queue="TestQueue2" exchange="ex2" routingKey="a1b1"/>
		</Routes>
	</RoutingConfigurationSection>

	<MessageOrderConfigurationSection>
		<MessageOrder>
			<Order messageType="NRabbitBus.Framework.Tests.Subscription.MyMessage, NRabbitBus.Framework.Tests">
				<MessageHandlers>
					<Handler order="1" type="NRabbitBus.Framework.Tests.Subscription.MyMessageHandler, NRabbitBus.Framework.Tests"></Handler>
				</MessageHandlers>
			</Order>
		</MessageOrder>
	</MessageOrderConfigurationSection>
</configuration>