<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SampleSection" type="EvilDuck.Framework.Tests.Configuration.SampleSection, EvilDuck.Framework.Tests"/>
		<section name="NameAndValues" type="EvilDuck.Framework.Tests.Configuration.NameAndValues, EvilDuck.Framework.Tests"/>
	</configSections>

	<SampleSection data="Data">
		<nested float="123.456">
		</nested>

	</SampleSection>

	<NameAndValues>
		<data>
			<add key="aaa" value="bbb"/>
			<add key="ccc" value="ddd"/>
		</data>
	</NameAndValues>
</configuration>